<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auth</servlet-name>
        <servlet-class>com.auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modelmessage</servlet-name>
        <servlet-class>com.modelmessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>grant</servlet-name>
        <servlet-class>com.grant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feed</servlet-name>
        <servlet-class>com.feed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment</servlet-name>
        <servlet-class>com.payment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auth</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modelmessage</servlet-name>
        <url-pattern>/modelmessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grant</servlet-name>
        <url-pattern>/grant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feed</servlet-name>
        <url-pattern>/feed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Homepage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
